*/target/*
*~
*#
.#*
**/*.iml
**/configfwkdebug.xml
**/.idea
target/*
target
**/.classpath
**/.project
**/velocity.log*
.classpath
.project
.settings
**/.settings
**/.settings/*
.pydevproject
*.log
cwallet*
**/pom.xml.versionsBackup
**/wls-quickstart-pom.xml.versionsBackup
**ewallet.*
*.class
.DS_Store
**/dependency-reduced-pom.xml
*.bak
.wercker
